.newbie_logo {
    font-family: 'Bagel Fat One', cursive;
}

.newbie_footer_button {
    font-size: .9rem"
}

.newbie_footer {
    text-align: center;
    margin-top: 2rem;
}

.newbie_header {
    text-align: center;
    margin-top: 2rem;
}